### Importing necessary libraries

In [3]:
import tweepy
import json
import pandas as pd

In [4]:
# Fill the X's with the credentials obtained by twitter api 
consumer_key = "xxxxxxxxxxxxxxxxxxxx"
consumer_secret = "xxxxxxxxxxxxxxxxxxxx"
access_key = "xxxxxxxxxxxxxxxxxxxx"
access_secret = "xxxxxxxxxxxxxxxxxxxx"

In [5]:
# OAuth process, using the keys and tokens
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_key, access_secret)

In [6]:
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())
status = api.user_timeline(screen_name='midasIIITD', count=15)
#json.dumps(status)

In [11]:
tweet.keys()

dict_keys(['created_at', 'id', 'id_str', 'text', 'truncated', 'entities', 'source', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'retweeted_status', 'is_quote_status', 'retweet_count', 'favorite_count', 'favorited', 'retweeted', 'possibly_sensitive', 'lang'])

In [12]:
tweet['created_at']

'Fri Apr 05 04:05:11 +0000 2019'

In [13]:
tweet['entities']

{'hashtags': [],
 'symbols': [],
 'user_mentions': [{'screen_name': 'rfpvjr',
   'name': 'rob voigt',
   'id': 399948170,
   'id_str': '399948170',
   'indices': [3, 10]}],
 'urls': [{'url': 'https://t.co/g7wiegXxDg',
   'expanded_url': 'https://arxiv.org/abs/1904.01596',
   'display_url': 'arxiv.org/abs/1904.01596',
   'indices': [110, 133]}]}

### Make a list storing all the necessary information

In [16]:
table=[]
for i in range(0,15):
    l=status[i]['entities'].keys()
    
    if('media' not in l):
        table.append((status[i]['text'],status[i]['created_at'],status[i]['retweet_count'],status[i]['favorite_count'],'None'))
    
    else:
        table.append((status[i]['text'],status[i]['created_at'],status[i]['retweet_count'],status[i]['favorite_count'],len(status[i]['entities']['media'])))

### Form a dataframe of that list

In [17]:
df=pd.DataFrame(table)

In [18]:
df.rename(columns={0:'Text',1:'Created At',2:'Retweet Count',3:'Favorite Count',4:'Images'},inplace=True)

In [19]:
df

,Text,Created At,Retweet Count,Favorite Count,Images
0,"Many Congratulations to @midasIIITD student, S...",Mon Apr 08 07:08:12 +0000 2019,2,10,None
1,@midasIIITD thanks all students who have appea...,Mon Apr 08 03:27:42 +0000 2019,0,3,None
2,"@himanchalchandr Meanwhile, complete CV/NLP ta...",Sun Apr 07 14:17:29 +0000 2019,0,0,None
3,@sayangdipto123 Submit as per the guideline ag...,Sun Apr 07 14:17:09 +0000 2019,0,0,None
4,We request all students whose interview are sc...,Sun Apr 07 11:43:24 +0000 2019,1,1,None
5,"Other queries: ""none of the Tweeter Apis give ...",Sun Apr 07 06:55:19 +0000 2019,2,5,None
6,"Other queries: ""do we have to make two differe...",Sun Apr 07 06:53:38 +0000 2019,1,4,None
7,"Other queries: ""If using Twitter api, it does ...",Sun Apr 07 05:32:27 +0000 2019,1,6,None
8,Response to some queries asked by students on ...,Sun Apr 07 05:29:40 +0000 2019,1,7,None
9,RT @kdnuggets: Top 8 #Free Must-Read #Books on...,Sat Apr 06 17:11:29 +0000 2019,2,0,None
10,@nupur_baghel @PennDATS Congratulation @nupur_...,Sat Apr 06 16:43:27 +0000 2019,3,18,None
11,We have emailed the task details to all candid...,Fri Apr 05 16:08:37 +0000 2019,1,12,None
12,RT @rfpvjr: Our NAACL paper on polarization in...,Fri Apr 05 04:05:11 +0000 2019,16,0,None
13,RT @kdnuggets: Effective Transfer Learning For...,Fri Apr 05 04:04:43 +0000 2019,11,0,1
14,RT @stanfordnlp: Whatâ€™s new in @Stanford CS224...,Wed Apr 03 18:31:53 +0000 2019,59,0,None